
body {font-family: 'Gill Sans',STHeiti,Arial, "Microsoft YaHei", simhei, simsun; }
p {line-height:180%;}
.careers_header span {padding:8px 0 3px 25px;}
header nav {font-weight: bold;width: 800px;}
.about_wrap h3 {background:url(../img/whatup-cn.png) no-repeat;width: 302px;height:77px;}